{{#each erros}}
  <div class="alert alert-danger" role="alert">
    {{erro}}
  </div>
{{/each}}

<h1>Nova categoria</h1>
<div class="card">
  <div class="card-body">
    <form action="/admin/categorias/nova" method="post">
      <label for="nome">Nome:</label>
      <input type="text" name="nome" id="nome" placeholder="Digite o nome da categoria" class="form-control">
      <label for="slug">Slug:</label>
      <input type="text" name="slug" id="slug" placeholder="Conteúdo da categoria" class="form-control">
      <button class="btn btn-primary mt-2">Criar categoria</button>
    </form>
  </div>
</div>